<div style="text-align:center">
  <h2>
    Custom Search Engine
    <small> ver.1.0</small>  
  </h2>
  
</div>

<div class="life-container color-dark" style="padding:2em">
  <p>
    <strong> List of keywords mapped to searched results</strong>
  </p>
  <ul>
    <li>Jailed</li>
    <li>Accused</li>
    <li>Penalised</li>
    <li>Convicted</li>
    <li>Debarred</li>
    <li>Crime</li>
    <li>Custody</li>
    <li>Arrested</li>
    <li>Cheated</li>
    <li>Censured</li>
    <li>Investigation</li>
    <li>fled</li>
  </ul>

  <p>Disclaimer : This custom search engine has limit on number of search queries executed per day ie.100 queries/day. If you
    are unable to view the results then please contact administrator
  </p>

</div>