.container {
  display: grid;
  grid-template-columns: 100%;
}

.col {
  padding: .6em;
}

.color-dark {
  background: #2885C4;
}

.color-light {
  background: #57B3F1;
}

input.txt {
  border: 0;
  padding: 1em;
  width: 50%;
  margin-bottom: 2em;
}

input.btn {
  border: 0;
  display: block;
  padding: 1em 3em;
  background: #A5F883;
  color: #003A61;
  margin-bottom: 1em;
  cursor: pointer;
}

input.btn :disabled {
  border: 0;
  display: block;
  padding: 1em 3em;
  background: rgb(168, 170, 168);
  color: rgb(10, 10, 10);
  margin-bottom: 1em;
  cursor:none
}

.life-container {
  background: #3FA0E1;
  padding: .5em;
  font-weight: bold;
  cursor: pointer;
}

.table {
  width: 100%;
  border: 1px solid #003A61;
  border-collapse: collapse;
}

.table thead tr th {
  border: 1px solid #3FA0E1;
  background: #003A61;
  padding: .5em;
  border-collapse: collapse;
}

.table tbody tr td {
  border: 1px solid #3FA0E1;
  padding: .5em;
  border-collapse: collapse;
}

.table tfoot tr td {
  text-align: center;
  font-weight: bold;
  padding: .5em;
  border: 1px solid #3FA0E1;
  border-collapse: collapse;
}

.alert-danger
{
  font-weight: bold;
  color:#A5F883;
  padding: .5em;
}